In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Load in properties_2017
properties_2017 = "Resources/properties_2017.csv"

In [3]:
# Read properties_2016 into dataframe
properties_2017 = pd.read_csv((properties_2017), low_memory=False)
#properties_2017 = pd.read_csv(properties_2017)
properties_2017_df = properties_2017
properties_2017_df.head(5)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

In [4]:
# Describe df
properties_2017_df.describe

<bound method NDFrame.describe of          parcelid  airconditioningtypeid  architecturalstyletypeid  \
0        10754147                    NaN                       NaN
1        10759547                    NaN                       NaN
2        10843547                    NaN                       NaN
3        10859147                    NaN                       NaN
4        10879947                    NaN                       NaN
...           ...                    ...                       ...
2985212  12170430                    NaN                       NaN
2985213  11422430                    NaN                       NaN
2985214  17203030                    NaN                       NaN
2985215  14242830                    NaN                       NaN
2985216  12766630                    NaN                       NaN

         basementsqft  bathroomcnt  bedroomcnt  buildingclasstypeid  \
0                 NaN          0.0         0.0                  NaN
1                 NaN          0.0         0.0                  NaN
2                 NaN          0.0         0.0                  5.0
3                 NaN          0.0         0.0                  3.0
4                 NaN          0.0         0.0                  4.0
...               ...          ...         ...                  ...
2985212           NaN          NaN         NaN                  NaN
2985213           NaN          NaN         NaN                  NaN
2985214           NaN          NaN         NaN                  NaN
2985215           NaN          NaN         NaN                  NaN
2985216           NaN          NaN         NaN                  NaN

         buildingqualitytypeid  calculatedbathnbr  decktypeid  ...  \
0                          NaN                NaN         NaN  ...
1                          NaN                NaN         NaN  ...
2                          NaN                NaN         NaN  ...
3                          6.0                NaN         NaN  ...
4                          NaN                NaN         NaN  ...
...                        ...                ...         ...  ...
2985212                    NaN                NaN         NaN  ...
2985213                    NaN                NaN         NaN  ...
2985214                    NaN                NaN         NaN  ...
2985215                    NaN                NaN         NaN  ...
2985216                    NaN                NaN         NaN  ...

         numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
0                    NaN            NaN                         NaN
1                    NaN            NaN                         NaN
2                    1.0            NaN                    660680.0
3                    1.0            NaN                    580059.0
4                    1.0            NaN                    196751.0
...                  ...            ...                         ...
2985212              NaN            NaN                         NaN
2985213              NaN            NaN                         NaN
2985214              NaN            NaN                         NaN
2985215              NaN            NaN                         NaN
2985216              NaN            NaN                         NaN

         taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  taxamount  \
0                      9.0          2016.0                    9.0        NaN
1                  27516.0          2015.0                27516.0        NaN
2                1434941.0          2016.0               774261.0   20800.37
3                1174475.0          2016.0               594416.0   14557.57
4                 440101.0          2016.0               243350.0    5725.17
...                    ...             ...                    ...        ...
2985212                NaN             NaN                    NaN        NaN
2985213                NaN             NaN                    NaN        NaN
2985214                NaN             NaN                    NaN        NaN
2985215                NaN             NaN                    NaN        NaN
2985216                NaN             NaN                    NaN        NaN

         taxdelinquencyflag  taxdelinquencyyear  censustractandblock
0                       NaN                 NaN                  NaN
1                       NaN                 NaN                  NaN
2                       NaN                 NaN                  NaN
3                       NaN                 NaN                  NaN
4                       NaN                 NaN                  NaN
...                     ...                 ...                  ...
2985212                 NaN                 NaN                  NaN
2985213                 NaN                 NaN                  NaN
2985214                 NaN                 NaN                  NaN
2985215                 NaN                 NaN                  NaN
2985216                 NaN                 NaN                  NaN

[2985217 rows x 58 columns]>

In [5]:
properties_2017_df.dtypes

parcelid                          int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                   object
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
poolcnt                         float64
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode        object
propertylandusetypeid           float64
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                    object
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
censustractandblock             float64
dtype: object

In [6]:
# Cleaning issue with Object datatype columns
object_columns = properties_2017_df.select_dtypes(include=['object']).columns

#Display columns
print('\nobject columns:\n', object_columns)

object columns:
 Index(['hashottuborspa', 'propertycountylandusecode', 'propertyzoningdesc',
       'fireplaceflag', 'taxdelinquencyflag'],
      dtype='object')

In [7]:
# Counting Nan/null in above columns
print("\nCount total Nan at each column in a Dataframe : \n\n", properties_2017_df.isnull().sum())

Count total Nan at each column in a Dataframe :

 parcelid                              0
airconditioningtypeid           2169855
architecturalstyletypeid        2979156
basementsqft                    2983590
bathroomcnt                        2957
bedroomcnt                         2945
buildingclasstypeid             2972486
buildingqualitytypeid           1043822
calculatedbathnbr                117156
decktypeid                      2967838
finishedfloor1squarefeet        2781459
calculatedfinishedsquarefeet      45097
finishedsquarefeet12             264431
finishedsquarefeet13            2977546
finishedsquarefeet15            2795032
finishedsquarefeet50            2781459
finishedsquarefeet6             2963735
fips                               2932
fireplacecnt                    2672093
fullbathcnt                      117156
garagecarcnt                    2094209
garagetotalsqft                 2094209
hashottuborspa                  2935155
heatingorsystemtypeid           1116053
latitude                           2932
longitude                          2932
lotsizesquarefeet                272706
poolcnt                         2445585
poolsizesum                     2957259
pooltypeid10                    2968211
pooltypeid2                     2952161
pooltypeid7                     2479322
propertycountylandusecode          2999
propertylandusetypeid              2932
propertyzoningdesc              1002746
rawcensustractandblock             2932
regionidcity                      62128
regionidcounty                     2932
regionidneighborhood            1828476
regionidzip                       12714
roomcnt                            2969
storytypeid                     2983594
threequarterbathnbr             2668860
typeconstructiontypeid          2978471
unitcnt                         1004175
yardbuildingsqft17              2903629
yardbuildingsqft26              2982571
yearbuilt                         47833
numberofstories                 2299541
fireplaceflag                   2980054
structuretaxvaluedollarcnt        46464
taxvaluedollarcnt                 34266
assessmentyear                     2933
landtaxvaluedollarcnt             59926
taxamount                         22752
taxdelinquencyflag              2928702
taxdelinquencyyear              2928700
censustractandblock               74985
dtype: int64

In [8]:
# Drop columsn where Nan is dominant (approx. half or more of the data in row)
properties_2017_df = properties_2017_df.drop(['airconditioningtypeid', 'architecturalstyletypeid', 'basementsqft', 'buildingclasstypeid', 'decktypeid', 'finishedfloor1squarefeet', 'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fireplacecnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'heatingorsystemtypeid', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'propertyzoningdesc', 'regionidneighborhood', 'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid', 'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'numberofstories', 'fireplaceflag', 'taxdelinquencyflag', 'taxdelinquencyyear'], axis=1)
properties_2017_df

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,fips,fullbathcnt,latitude,longitude,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,10754147,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34144442.0,-118654084.0,...,3101.0,96337.0,0.0,NaN,NaN,9.0,2016.0,9.0,NaN,NaN
1,10759547,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34140430.0,-118625364.0,...,3101.0,96337.0,0.0,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN
2,10843547,0.0,0.0,NaN,NaN,73026.0,6037.0,NaN,33989359.0,-118394633.0,...,3101.0,96095.0,0.0,1959.0,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN
3,10859147,0.0,0.0,6.0,NaN,5068.0,6037.0,NaN,34148863.0,-118437206.0,...,3101.0,96424.0,0.0,1948.0,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN
4,10879947,0.0,0.0,NaN,NaN,1776.0,6037.0,NaN,34194168.0,-118385816.0,...,3101.0,96450.0,0.0,1947.0,196751.0,440101.0,2016.0,243350.0,5725.17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2985212,12170430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,11422430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,17203030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,14242830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,12766630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Drop rows where regionidzip is null/NaN
properties_2017_df = properties_2017_df.dropna(subset=['regionidzip'])
properties_2017_df

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,fips,fullbathcnt,latitude,longitude,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,10754147,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34144442.0,-118654084.0,...,3101.0,96337.0,0.0,NaN,NaN,9.0,2016.0,9.0,NaN,NaN
1,10759547,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34140430.0,-118625364.0,...,3101.0,96337.0,0.0,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN
2,10843547,0.0,0.0,NaN,NaN,73026.0,6037.0,NaN,33989359.0,-118394633.0,...,3101.0,96095.0,0.0,1959.0,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN
3,10859147,0.0,0.0,6.0,NaN,5068.0,6037.0,NaN,34148863.0,-118437206.0,...,3101.0,96424.0,0.0,1948.0,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN
4,10879947,0.0,0.0,NaN,NaN,1776.0,6037.0,NaN,34194168.0,-118385816.0,...,3101.0,96450.0,0.0,1947.0,196751.0,440101.0,2016.0,243350.0,5725.17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2982280,11366340,1.0,2.0,4.0,1.0,798.0,6037.0,1.0,34769356.0,-118553521.0,...,3101.0,97319.0,0.0,2006.0,55200.0,469300.0,2016.0,414100.0,5764.45,NaN
2982281,13010327,3.0,3.0,8.0,3.0,1526.0,6037.0,3.0,34087735.0,-118063008.0,...,3101.0,96517.0,0.0,2014.0,356454.0,594022.0,2016.0,237568.0,7343.47,NaN
2982282,12385768,4.0,4.0,8.0,4.0,2110.0,6037.0,4.0,33951985.0,-118124097.0,...,3101.0,96100.0,0.0,2014.0,336548.0,554009.0,2016.0,217461.0,6761.20,NaN
2982283,11795063,1.0,1.0,8.0,1.0,1040.0,6037.0,1.0,34041100.0,-118234000.0,...,3101.0,95994.0,0.0,1910.0,371756.0,620284.0,2016.0,248528.0,7611.91,NaN
2982284,11818454,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34080847.0,-118160178.0,...,3101.0,96013.0,0.0,NaN,NaN,NaN,2016.0,NaN,NaN,NaN

In [12]:
# Saved file to csv
properties_2017_df.to_csv("properties_2017_cleaned.csv", index=False, encoding = 'utf8')