In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# Load in properties_2016
properties_2016 = "Resources/properties_2016.csv"

In [4]:
# Read properties_2016 into dataframe
properties_2016 = pd.read_csv((properties_2016), low_memory=False)
#properties_2016 = pd.read_csv(properties_2016)
properties_2016_df = properties_2016
properties_2016_df.head(5)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [6]:
properties_2016_df.describe

<bound method NDFrame.describe of           parcelid  airconditioningtypeid  architecturalstyletypeid  \
0         10754147                    NaN                       NaN
1         10759547                    NaN                       NaN
2         10843547                    NaN                       NaN
3         10859147                    NaN                       NaN
4         10879947                    NaN                       NaN
...            ...                    ...                       ...
2985212  168176230                    NaN                       NaN
2985213   14273630                    NaN                       NaN
2985214  168040630                    NaN                       NaN
2985215  168040830                    NaN                       NaN
2985216  168040430                    NaN                       NaN

         basementsqft  bathroomcnt  bedroomcnt  buildingclasstypeid  \
0                 NaN          0.0         0.0                  NaN
1                 NaN          0.0         0.0                  NaN
2                 NaN          0.0         0.0                  NaN
3                 NaN          0.0         0.0                  3.0
4                 NaN          0.0         0.0                  4.0
...               ...          ...         ...                  ...
2985212           NaN          NaN         NaN                  NaN
2985213           NaN          NaN         NaN                  NaN
2985214           NaN          NaN         NaN                  NaN
2985215           NaN          NaN         NaN                  NaN
2985216           NaN          NaN         NaN                  NaN

         buildingqualitytypeid  calculatedbathnbr  decktypeid  ...  \
0                          NaN                NaN         NaN  ...
1                          NaN                NaN         NaN  ...
2                          NaN                NaN         NaN  ...
3                          7.0                NaN         NaN  ...
4                          NaN                NaN         NaN  ...
...                        ...                ...         ...  ...
2985212                    NaN                NaN         NaN  ...
2985213                    NaN                NaN         NaN  ...
2985214                    NaN                NaN         NaN  ...
2985215                    NaN                NaN         NaN  ...
2985216                    NaN                NaN         NaN  ...

         numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
0                    NaN            NaN                         NaN
1                    NaN            NaN                         NaN
2                    NaN            NaN                    650756.0
3                    1.0            NaN                    571346.0
4                    NaN            NaN                    193796.0
...                  ...            ...                         ...
2985212              NaN            NaN                         NaN
2985213              NaN            NaN                         NaN
2985214              NaN            NaN                         NaN
2985215              NaN            NaN                         NaN
2985216              NaN            NaN                         NaN

         taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  taxamount  \
0                      9.0          2015.0                    9.0        NaN
1                  27516.0          2015.0                27516.0        NaN
2                1413387.0          2015.0               762631.0   20800.37
3                1156834.0          2015.0               585488.0   14557.57
4                 433491.0          2015.0               239695.0    5725.17
...                    ...             ...                    ...        ...
2985212                NaN             NaN                    NaN        NaN
2985213                NaN             NaN                    NaN        NaN
2985214                NaN             NaN                    NaN        NaN
2985215                NaN             NaN                    NaN        NaN
2985216                NaN             NaN                    NaN        NaN

         taxdelinquencyflag  taxdelinquencyyear  censustractandblock
0                       NaN                 NaN                  NaN
1                       NaN                 NaN                  NaN
2                       NaN                 NaN                  NaN
3                       NaN                 NaN                  NaN
4                       NaN                 NaN                  NaN
...                     ...                 ...                  ...
2985212                 NaN                 NaN                  NaN
2985213                 NaN                 NaN                  NaN
2985214                 NaN                 NaN                  NaN
2985215                 NaN                 NaN                  NaN
2985216                 NaN                 NaN                  NaN

[2985217 rows x 58 columns]>

In [5]:
properties_2016_df.dtypes

parcelid                          int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                   object
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
poolcnt                         float64
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode        object
propertylandusetypeid           float64
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                    object
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
censustractandblock             float64
dtype: object

In [7]:
# Cleaning issue with Object datatype columns
object_columns = properties_2016_df.select_dtypes(include=['object']).columns

#Display columns
print('\nobject columns:\n', object_columns)

object columns:
 Index(['hashottuborspa', 'propertycountylandusecode', 'propertyzoningdesc',
       'fireplaceflag', 'taxdelinquencyflag'],
      dtype='object')

In [8]:
# Counting Nan/null in above columns
print("\nCount total Nan at each column in a Dataframe : \n\n", properties_2016_df.isnull().sum())

Count total Nan at each column in a Dataframe :

 parcelid                              0
airconditioningtypeid           2173698
architecturalstyletypeid        2979156
basementsqft                    2983589
bathroomcnt                       11462
bedroomcnt                        11450
buildingclasstypeid             2972588
buildingqualitytypeid           1046729
calculatedbathnbr                128912
decktypeid                      2968121
finishedfloor1squarefeet        2782500
calculatedfinishedsquarefeet      55565
finishedsquarefeet12             276033
finishedsquarefeet13            2977545
finishedsquarefeet15            2794419
finishedsquarefeet50            2782500
finishedsquarefeet6             2963216
fips                              11437
fireplacecnt                    2672580
fullbathcnt                      128912
garagecarcnt                    2101950
garagetotalsqft                 2101950
hashottuborspa                  2916203
heatingorsystemtypeid           1178816
latitude                          11437
longitude                         11437
lotsizesquarefeet                276099
poolcnt                         2467683
poolsizesum                     2957257
pooltypeid10                    2948278
pooltypeid2                     2953142
pooltypeid7                     2499758
propertycountylandusecode         12277
propertylandusetypeid             11437
propertyzoningdesc              1006588
rawcensustractandblock            11437
regionidcity                      62845
regionidcounty                    11437
regionidneighborhood            1828815
regionidzip                       13980
roomcnt                           11475
storytypeid                     2983593
threequarterbathnbr             2673586
typeconstructiontypeid          2978470
unitcnt                         1007727
yardbuildingsqft17              2904862
yardbuildingsqft26              2982570
yearbuilt                         59928
numberofstories                 2303148
fireplaceflag                   2980054
structuretaxvaluedollarcnt        54982
taxvaluedollarcnt                 42550
assessmentyear                    11439
landtaxvaluedollarcnt             67733
taxamount                         31250
taxdelinquencyflag              2928755
taxdelinquencyyear              2928753
censustractandblock               75126
dtype: int64

In [9]:
# Drop columsn where Nan is dominant (approx. half or more of the data in row)
properties_2016_df = properties_2016_df.drop(['airconditioningtypeid', 'architecturalstyletypeid', 'basementsqft', 'buildingclasstypeid', 'decktypeid', 'finishedfloor1squarefeet', 'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fireplacecnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'heatingorsystemtypeid', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'propertyzoningdesc', 'regionidneighborhood', 'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid', 'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'numberofstories', 'fireplaceflag', 'taxdelinquencyflag', 'taxdelinquencyyear'], axis=1)
properties_2016_df

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,fips,fullbathcnt,latitude,longitude,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,10754147,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34144442.0,-118654084.0,...,3101.0,96337.0,0.0,NaN,NaN,9.0,2015.0,9.0,NaN,NaN
1,10759547,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34140430.0,-118625364.0,...,3101.0,96337.0,0.0,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN
2,10843547,0.0,0.0,NaN,NaN,73026.0,6037.0,NaN,33989359.0,-118394633.0,...,3101.0,96095.0,0.0,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN
3,10859147,0.0,0.0,7.0,NaN,5068.0,6037.0,NaN,34148863.0,-118437206.0,...,3101.0,96424.0,0.0,1948.0,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN
4,10879947,0.0,0.0,NaN,NaN,1776.0,6037.0,NaN,34194168.0,-118385816.0,...,3101.0,96450.0,0.0,1947.0,193796.0,433491.0,2015.0,239695.0,5725.17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Drop rows where longitude is null/NaN
properties_2016_df = properties_2016_df.dropna(subset=['regionidzip'])
properties_2016_df

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,fips,fullbathcnt,latitude,longitude,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,10754147,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34144442.0,-118654084.0,...,3101.0,96337.0,0.0,NaN,NaN,9.0,2015.0,9.0,NaN,NaN
1,10759547,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34140430.0,-118625364.0,...,3101.0,96337.0,0.0,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN
2,10843547,0.0,0.0,NaN,NaN,73026.0,6037.0,NaN,33989359.0,-118394633.0,...,3101.0,96095.0,0.0,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN
3,10859147,0.0,0.0,7.0,NaN,5068.0,6037.0,NaN,34148863.0,-118437206.0,...,3101.0,96424.0,0.0,1948.0,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN
4,10879947,0.0,0.0,NaN,NaN,1776.0,6037.0,NaN,34194168.0,-118385816.0,...,3101.0,96450.0,0.0,1947.0,193796.0,433491.0,2015.0,239695.0,5725.17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2973775,11366340,1.0,2.0,7.0,1.0,798.0,6037.0,1.0,34769356.0,-118553521.0,...,3101.0,97319.0,0.0,2006.0,49749.0,428749.0,2015.0,379000.0,5764.45,NaN
2973776,13010327,3.0,3.0,4.0,3.0,1526.0,6037.0,3.0,34087735.0,-118063008.0,...,3101.0,96517.0,0.0,2014.0,351100.0,585100.0,2015.0,234000.0,7343.47,NaN
2973777,12385768,4.0,4.0,4.0,4.0,2110.0,6037.0,4.0,33951985.0,-118124097.0,...,3101.0,96100.0,0.0,2014.0,331493.0,545688.0,2015.0,214195.0,6761.20,NaN
2973778,11795063,1.0,1.0,4.0,1.0,1040.0,6037.0,1.0,34041100.0,-118234000.0,...,3101.0,95994.0,0.0,1910.0,366172.0,610967.0,2015.0,244795.0,7611.91,NaN
2973779,11818454,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34080847.0,-118160178.0,...,3101.0,96013.0,0.0,NaN,NaN,NaN,2015.0,NaN,NaN,NaN

In [44]:
#Split dataframe due to large size and gitlab limits
properties_2016_df1 = properties_2016_df.iloc[:535000]
properties_2016_df2 = properties_2016_df.iloc[535000:1070000]
properties_2016_df3 = properties_2016_df.iloc[1070000:1605000]
properties_2016_df4 = properties_2016_df.iloc[1605000:2140000]
properties_2016_df5 = properties_2016_df.iloc[2140000:2675000]
properties_2016_df6 = properties_2016_df.iloc[2675000:]

In [45]:
# Preview dfs
properties_2016_df1
properties_2016_df2
properties_2016_df3
properties_2016_df4
properties_2016_df5
properties_2016_df6

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,fips,fullbathcnt,latitude,longitude,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
2677315,17269105,2.0,3.0,NaN,2.0,1203.0,6111.0,2.0,34176595.0,-118957929.0,...,2061.0,96351.0,6.0,1966.0,57058.0,81436.0,2015.0,24378.0,953.68,6.111006e+13
2677316,17269228,2.0,3.0,NaN,2.0,1203.0,6111.0,2.0,34173155.0,-118960088.0,...,2061.0,96351.0,6.0,1966.0,163000.0,469000.0,2015.0,306000.0,4946.72,6.111006e+13
2677317,17269466,2.0,3.0,NaN,2.0,1141.0,6111.0,2.0,34161874.0,-118960361.0,...,2061.0,96351.0,6.0,1971.0,145701.0,224146.0,2015.0,78445.0,2374.56,6.111006e+13
2677318,17269658,2.0,4.0,NaN,2.0,1376.0,6111.0,2.0,34159911.0,-118963567.0,...,2061.0,96351.0,6.0,1972.0,298161.0,496934.0,2015.0,198773.0,5305.82,6.111006e+13
2677319,17269773,2.0,4.0,NaN,2.0,1497.0,6111.0,2.0,34157044.0,-118963179.0,...,2061.0,96351.0,7.0,1975.0,132207.0,203385.0,2015.0,71178.0,2155.18,6.111006e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2973775,11366340,1.0,2.0,7.0,1.0,798.0,6037.0,1.0,34769356.0,-118553521.0,...,3101.0,97319.0,0.0,2006.0,49749.0,428749.0,2015.0,379000.0,5764.45,NaN
2973776,13010327,3.0,3.0,4.0,3.0,1526.0,6037.0,3.0,34087735.0,-118063008.0,...,3101.0,96517.0,0.0,2014.0,351100.0,585100.0,2015.0,234000.0,7343.47,NaN
2973777,12385768,4.0,4.0,4.0,4.0,2110.0,6037.0,4.0,33951985.0,-118124097.0,...,3101.0,96100.0,0.0,2014.0,331493.0,545688.0,2015.0,214195.0,6761.20,NaN
2973778,11795063,1.0,1.0,4.0,1.0,1040.0,6037.0,1.0,34041100.0,-118234000.0,...,3101.0,95994.0,0.0,1910.0,366172.0,610967.0,2015.0,244795.0,7611.91,NaN
2973779,11818454,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34080847.0,-118160178.0,...,3101.0,96013.0,0.0,NaN,NaN,NaN,2015.0,NaN,NaN,NaN

In [46]:
# Saved file to csv
properties_2016_df1.to_csv("properties_2016_cleaned_set1.csv", index=False, encoding = 'utf8')
properties_2016_df2.to_csv("properties_2016_cleaned_set2.csv", index=False, encoding = 'utf8')
properties_2016_df3.to_csv("properties_2016_cleaned_set3.csv", index=False, encoding = 'utf8')
properties_2016_df4.to_csv("properties_2016_cleaned_set4.csv", index=False, encoding = 'utf8')
properties_2016_df5.to_csv("properties_2016_cleaned_set5.csv", index=False, encoding = 'utf8')
properties_2016_df6.to_csv("properties_2016_cleaned_set6.csv", index=False, encoding = 'utf8')